@{
    ViewBag.Title = "Welcome";
    Layout = null;
}<!DOCTYPE html>
 <html>
 <head>
     <link href="~/Content/Site2.css" rel="stylesheet" />
    
 </head>
 <body id="body" style="padding:0;" onclick="window.location.replace('/Auth/Login')">     
     <div style="height:200px;width:200px;"  onclick="window.location.replace('/Auth/Login')"></div>
 </body>
 </html>
