body {
    padding-top: 150px;
    padding-bottom: 20px;
    background-color: #b2ded1;
}

.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

h1.login {
    text-align: center;
    color: red;
    font-family: poppins-bold;
    font-size: 65px
}

h1.login {
    text-align: center;
    color: red;
    font-family: poppins-bold;
    font-size: 65px
}

label.red {
    color: red;
    font-family: poppins-bold;
    font-size: 14px
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.navbar-custom {
    background-color: #b2ded1;
}

@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins-bold.ttf') format('truetype');
}

.classname {
    font-family: 'poppins-bold';
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins-regular.ttf') format('truetype');
}

#loginDiv {
    display: table;
    width: 100%;
}

#loginForm {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.login input {
    width: 250px;
    padding: 15px 12px;
    font-size: 22px;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.header {
    text-align: center;
    padding: 32px;
}




input[type="checkbox"], input[type="radio"] {
    position: absolute;
    right: 9000px;
}

/*Radio box*/

input[type="radio"] + .label-text:before {
    content: "\f10c";
    font-family: "FontAwesome";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before {
    content: "\f192";
    color: black;
    animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text {
    color: #aaa;
}

input[type="radio"]:disabled + .label-text:before {
    content: "\f111";
    color: #ccc;
}

.copyright {
    text-align: left;
}

.slider-handle {
    background-image: url("") !important;
    background-color: black !important;
}