body {
    padding-top: 150px;
    padding-bottom: 20px;
    background-color: #b2ded1;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
}

h1.login {
    text-align: center;
    color: red;
    font-family: poppins-bold;
    font-size: 65px
}

h1.login {
    text-align: center;
    color: red;
    font-family: poppins-bold;
    font-size: 65px
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-custom {
    background-color: #b2ded1;
}


@font-face {
    font-family: 'poppins-bold';
    src: url('../fonts/poppins-bold.ttf') format('truetype');
}

.classname {
    font-family: 'poppins-bold';
}

@font-face {
    font-family: 'poppins-regular';
    src: url('../fonts/poppins-regular.ttf') format('truetype');
}

#loginDiv {
    display: table;
    width: 100%;
}

#loginForm {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.login input {
    width: 250px;
    padding: 15px 12px;
    font-size: 22px;
}


@media only screen and (max-width: 1200px) {

    * {
        box-sizing: boreder-box;
    }

    .row img {
        border: 0 none;
        display: inline;
        align: center;
        margin: 10px;
        height: auto;
        max-width: 30%;
        vertical-align: middle;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .row img {
        display: block;
    }
}

