
@model IList<AngelHack.ViewModels.SpaceViewModel>
@{
    ViewBag.Title = "Welcome";
    Layout = "_HomeLayout.cshtml";
}

<h2 style="text-align:center;color:red"> @Html.ActionLink("Book a space", "Main", "Booking", null, new { @style = "color:red; font-family: poppins-bold; font-size: 65px" }) &#9658;</h2>
<br /><br />
<h2 style="text-align:center; font-family: poppins-bold; font-size:26px;"> Your recent studios</h2>
<ul class="flex-container">
    @foreach (var item in Model)
    {   
        <li class="flex-item"><img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:100%" /></li>   
    }    
</ul>